  <!-- Party Heading -->
<div class="party-heading my-6">
    <div class="grid justify-items-center p-4">
        <h1 class="h1-large">{{party.party_name}}</h1>
        <div id="party-interests" class="grid grid-cols-3 mx-8 mt-2 md:grid-cols-6">
          {{#each party.interests }}
            <div id="interest-element" class="interest rounded-lg px-8 mx-2 mb-2 border border-purple-900">
              {{interest_name}}
            </div>
          {{/each}}  
        </div>
    </div>
</div>

<!-- Start New Convo -->
<div class="grid justify-items-center">
    <button class="button-secondary text-white font-medium px-16 py-3 mt-2 mx-1 rounded-lg">+ Start a New Conversation</button>
    <h1 class="h2 inline pt-4 pb-4 text-2xl">Hosted by: <span class="h1" id="username">@{{party.user.username}}</span></h1>
</div>

<!-- Description -->
<div class="grid justify-items-center"> 
    <div id="party-description" class="p-text div-bubble p-6 m-2 mb-2 w-11/12 rounded-lg grid justify-items-center">
    {{party.party_bio}}
    </div>
</div>

<!--Conversations-->
<h1 class="h1 mt-4 grid justify-items-center">Conversations</h1>

<!--IF Conversations-->
{{#if party.post.length}}
{{#each party.post as |post|}}
{{> post-info post}}
{{/each}}
{{else}}
<!--IF no Conversations-->
<div class="mb-10 grid justify-items-center"> 
  <div class="p-text div-bubble p-6 m-2 w-11/12 rounded-lg">
    <div>
      <div class="logo">Uh-oh!</div>
      <div class="p-text">No one has started any conversations. Become the life of the party and start one now!</div>
  </div>
</div>
{{/if}} 